*{
margin:0;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body{
    color:whitesmoke;
    display: grid;
    grid-template-areas: "aside" "search" "main" "footer";
    grid-template-rows: 8% 10% auto 8%;
    height: 100vh;
}

aside{
    grid-area:aside;
    background-color:#00579C;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

menu{
    display: none;
}

i{
    font-size: 1rem;
    margin-left: 1rem;
}
.search-container{
    grid-area: search;
    background-color: blue;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 0.5px solid #494949;
}

select{
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 6px;
    margin: 0.5rem;
}

label{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

main{
    grid-area: main;
    background-color: grey;
    padding:1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.cardMobi{
    border: 0.5px solid #494949;
    border-radius: 0,25rem;
    margin: 10px 0;
    height: 20rem;

}
.cardMobi img{

}

.cardDesk{
    display:none;
}

.pagination {
    margin: 1rem;

}

.pagination a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid #202421;
    border-radius: 10px;
    color:violet;
margin: 10px 5px;
}
.pagination a.active{
    background-color: greenyellow;
    color: white;
}



footer {
    grid-area: footer;
    background-color:#002F6B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width>=576px){
    body{
        grid-template-areas: "aside search" "aside main" "footer main";
        grid-template-columns: 15% auto;
        grid-template-rows: 8% auto 10%;
    }
    aside{
        justify-content: flex-start;
        flex-direction: column;
        padding:1.5rem;
    }
    .bars{
        display:none;
    }
    menu{
        display: contents;
    
    }
    menu p{
        line-height: 2rem;
    }
}

/*phone*/


/*PC*/